page-register {

    .content{
        background-color: lightgray;
   }

   .page{
    padding: 0 2em;
       margin-top: 40%;
   }

   .title{
       text-align: center;
   }

   .form{
       margin: 2em;
   }
  .form button{
       margin-top: 2em;
   }

   .form ion-item{
    margin-top: .2em;
}

}
